@model RoyalDrop.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Productname" class="control-label"></label>
                <input asp-for="Productname" class="form-control" />
                <span asp-validation-for="Productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase" class="control-label"></label>
                <input asp-for="Purchase" class="form-control" />
                <span asp-validation-for="Purchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ProductImage" class="form-label">Product Image</label>
				<input asp-for="ProductImage" class="form-control" type="file" id="formfile" 
                onchange="document.getElementById('ProductImagePrev').src=window.URL.createObjectURL(this.files[0])">
                <span asp-validation-for="ProductImage" class="text-danger"></span>
				<img id="ProductImagePrev" src="../images/noimage.png" alt="Product Image" width="200"
			    height="" style="border:1px; margin-top:20px; margin-left:80px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
]
