
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @using(Html.BeginForm("Save","Purchase",FormMethod.Post,new{id = "popupForm" }))
    {
        <div>
            <h1>Purchases</h1>
        </div>

        <div>
            <div class="form-group">
                <label class="form-label">Product</label>
            </div>
        </div>

    }
</div>