
@{
    ViewData["Title"] = "About";
}
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">

<style>
    .textst {
        font-family: 'Exo 2', sans-serif;
    }
</style>
<hr />

<br />


<div class="textst">
    <h3 style="font-weight:500"><b>What Defines Us</b> </h3>
    
    <br />
    <p>Authenticity, Essential Luxury, Affordability!</p>
    <p>Born of a passion for genuine fragrances, RoyalDrop brings authentic and essential luxury for the individual who knows what they desire. Recognizing the qualities that define you and sets you apart, we offer the best of perfumes from renowned brands, from firm favourites to the latest collections. </p>
    <p>RoyalDrop is an online store which brings you 100% genuine products at affordable prices. We provide a safe and secure purchase experience, with multiple payment options and free, expedited delivery island wide. </p>


</div>

<br />




