
@{
    ViewData["Title"] = "Contact us";
}

<h1>Contact us</h1>

<div class="row">
    <div class="col-md-6">


        <p>
            No. 565, Temple road,
            Colombo 07
        </p>
        <p>+9411343544</p>
        <p>luxuryrd@royaldrops.com</p>
    </div>
    <div class="col-md-6">


        <p>Leave a message</p>
        <input class="contactus" type="text" name="username" placeholder="Username"><br />
        <input class="" type="text" name="Email" placeholder="Email"><br />
        <input class="" type="text" name="subject" placeholder="Subject"><br />
        <input class="" type="text" name="message" placeholder="Message"><br />
        <button>Send</button>


        
        
    </div>

</div>

