@{
    ViewData["Title"] = "Privacy";
}
@*<h1>@ViewData["Title"]</h1>*@

<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">

<style>
    .textst {
        font-family: 'Exo 2', sans-serif;
    }
</style>
<hr />

<br />


<div class="textst">
    <h3 style=""><b>Privacy Policys</b></h3>

    <br />
    <p>
        RoyalDrop.store hereinafter called and referred to as “we” “us” or “our”, in this Privacy Policy, references to “you” or “your” mean any person submitting any data to us or our agent or the Site. Data protection is a matter of trust and your privacy is important to us. We shall therefore only use your name and other information which relates to you in the manner set out in this Privacy Policy. We will only collect information where it is necessary for us to do so and we will only collect information if it is relevant to our dealings with you. We will only keep your information for as long as we are either required to by law or as is relevant for the purposes for which it was collected. You can visit the Site and browse without having to provide personal details. During your visit to the Site, you remain anonymous and at no point can we identify you unless you have an account on the Site and log on with your username and password.
   </p>
    <h4 style=""><b>Our usage on Data</b></h4>
    <p>We may collect various information if you seek to place an order for a product to us on the Site. We collect, store, and process your data for processing your purchase on the Site and any possible later claims, and to provide you with our services. We may collect your title, name, gender, email address, postal address, delivery address (if different), telephone number, mobile number, payment details, payment card details or bank account details. We need this information in order to allow you to go ahead with placing your order for a product. We may use that data to process payment for the product and deliver the product to you. We also use that data to inform you when the product is about to be delivered. We may pass your name and address on to a third party in order to make delivery of the product to you (for example to our courier). We may also use your data in order to manage the Site, collect payment from you, enable you to subsequently use parts of the Site, detect any fraud or Site abuses, send you information relevant to the Site or our products, and in case we have any queries. Payments that you make through the Site will be processed through WEBX PAY .You must only submit to us or the Site information which is accurate and not mis-leading, and you must keep it up to date and inform us of changes. Your actual order details may be stored with us and you may access this information by logging into your account on the Site. Here you can view the details of your orders that have been completed, those which are open and those which are shortly to be dispatched and administer your address details, bank details and any newsletter to which you may have subscribed. You undertake to treat the personal access data confidentially and not make it available to unauthorized third parties. We cannot assume any liability for misuse of passwords unless this misuse is our fault. We shall not share any of your personal information with third parties without your explicit consent. We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent and we only use your information as described in the Privacy Policy. We view protection of your privacy as a very important community principle. We understand clearly that you and Your Information is one of our most important assets. We store and process Your Information on computers that are protected by physical as well as technological security devices. We use third parties to verify and certify our privacy principles. If you object to your Information being transferred or used in this way, please do not use the site. Under no circumstances do we rent, trade, or share your personal information that we have collected with any other company for their marketing purposes without your consent. We reserve the right to communicate your personal information to any third party that makes a legally compliant request for its disclosure. </p>
    <h4 style=""><b>Security on site</b></h4>
    <p>
        We have in place appropriate technical and security measures to prevent unauthorized or unlawful access to, or accidental loss of or destruction or damage to your information. When we collect data through the Site, we collect your personal details on a secure server. Whilst we are unable to guarantee 100% security. You are strongly recommended not to send full credit or debit card, bank details in unencrypted electronic communications with us. We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, and disclosure of your information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you. You are responsible for protecting against unauthorized access to your password and to your computer.
     </p>


</div>

<br />
